#container {
    margin: 20px auto;
    border: 5px solid rgb(189, 56, 147);
    width: fit-content;
    border-radius: 5px;
  }
  
  #field {
    border: 7px solid rgb(2, 182, 232);
    width: 500px;
    border-radius: 5px;
    background-size: 100%;
    background-position: center;
    background-image: url("/public/wood.jpg");
    height: 300px;
    margin: 10px;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  #ball {
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    background-size: cover;
    background-color: rgb(213, 46, 5);
  }
  
  #ball.spin {
    animation: spin 1s infinite linear;
  }
  
  #control {
    margin: 10px;
  }
  